{% extends 'base.html' %}

{% block content %}
    <h1>View prescription</h1>
    {% if ((current_user.NHSNumber==pres.NHSNumber) or (isP==False)) %}
        <p><b>Prescription id{{pres.prescription_id}}</b></p>
        <p><b>Medicine:</b> {{medName}}</p>
        <p><b>Instructions:</b> {{pres.dose}} </p>
        <p><b>Prescribed for:</b> {{disName}} </p>
        <p><b>Start date:</b> {{pres.startDate}} </p>
        {% if pres.finalRepeatDate %}
            <p><b>Prescription ended:</b> {{pres.finalRepeatDate}} </p>
        {% endif %}
        <p><b>Doctor:</b> {{docName}}</p>
    {% else %}
    
    {% endif %}
{% endblock %}
